<div th:fragment="header">
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <span class="fs-4">Блог</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/index" class="nav-link active" aria-current="page">Главная</a></li>
        <li class="nav-item"><a href="/blog" class="nav-link">Блог</a></li>
        <li class="nav-item"><a href="/blog/add" class="nav-link">Добавить статью</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    </ul>
</header>
</div>